// ===================
// VARIABLES & MIXINS
// ===================

// FONTS
$body-font: 'Muli', sans-serif;


// COLORS

$white: #ffffff;
$red: #d9534f;

$researching: #337ab7;
$pending: #F3BC0C;
$approved: #5cb85c;
$declined: #565656;

/* Silver */
$silver: #bdc3c7;
$silver-50: #f8f9f9;
$silver-100: #f2f3f4;
$silver-200: #e5e7e9;
$silver-300: #d7dbdd;
$silver-400: #cacfd2;
$silver-500: #bdc3c7;
$silver-600: #a6acaf;
$silver-700: #909497;
$silver-800: #797d7f;
$silver-900: #626567;

$nephritis-400: #52be80;


// HELPER CLASSES

.row-vertical-center-space-around,
.row-vertical-center-space-btwn,
.row-vertical-center,
.column,
.column-horizontal-center {
    display: flex;
}

.column,
.column-horizontal-center {
    flex-flow: column nowrap;
}

.row-vertical-center-space-around,
.row-vertical-center-space-btwn,
.row-vertical-center,
.column-horizontal-center {
    align-items: center;
}

.row-vertical-center-space-btwn {
    justify-content: space-between;
}

.row-vertical-center-space-around {
    justify-content: space-around;
}

.static-horizontal,
.static-vertical {
    flex: 0 0 auto;
}

.stretch-horizontal,
.stretch-vertical {
    flex: 1 1 auto;
}

.static-horizontal,
.stretch-horizontal {
    min-width: 1px;
}

.static-vertical,
.stretch-vertical {
    min-height: 1px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.width-100 {
    width: 100%;
}

.green {
    color: $nephritis-400;
}


// ========================
// RESETS
// ========================

html {
    height: 100%;
}

body {
    border: 1px solid white;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $body-font;
    background-color: $silver-50;
}

// ========================
// STYLES
// ========================

.header {
    background-color: $silver-400;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &__title {
        font-size: 3.5rem;
        margin-left: 2rem;
    }

    &__actions {
    }

    &__search {

        &-bar {
            border: none;
            line-height: 4.3rem;
            padding-left: 2rem;
            color: $nephritis-400;

            &:focus {
                outline: none;
                border: 2px solid $nephritis-400;
            }
        }

        &-results {
            position: relative;

            &-container {
                position: absolute;
                background-color: $white;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                z-index: 1;
            }
        }

        &-result {
            padding: .5rem 2rem;

            &--selected {
                background-color: $nephritis-400;
                color: $white;
            }
        }

    }

    &__actions {
        margin-left: 1rem;
        font-size: 2rem;
    }

    &__add {
        color: $nephritis-400;
        font-size: 4rem;
    }

}

.content {
    padding: 4rem 0 4rem 0;
}

.delete {
    color: $red;
}

.target-list {
    display: block;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;

    &__item {
        border-bottom: 1px dotted $silver-200;
        padding: 1rem;
        min-height: 7rem;

        &:hover {
            background-color: $nephritis-400;
            color: $white;
        }
    }

    &__value {
        max-width: 33%;
    }

    &__name {
        font-size: 2rem;
    }
}

.target-single {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 2rem 3rem;
    background-color: white;

    &__header {
        font-size: 2rem;
    }

    &__content {
        padding-top: 1rem;
        overflow-y: auto;

        input {
            padding-left: 1rem;

            &:focus {
                outline: none;
                border: 1px solid $nephritis-400;
            }
        }

        select {
            margin-left: 1rem;
        }
    }

    &__name {
        font-size: 4rem;
        margin-right: 2rem;
    }

    &__property-group {
        margin-bottom: 2rem;
    }

    &__property-label {
        color: $nephritis-400;
        font-weight: bold;
    }
}

.status {
    padding: 1rem;
    text-transform: uppercase;
}

.status-hover {
    color: $white;
    border: 2px solid $white;
}

.researching {
    color: $researching;
    border: 2px solid $researching;
}

.pending {
    color: $pending;
    border: 2px solid $pending;
}

.approved {
    color: $approved;
    border: 2px solid $approved;
}

.declined {
    color: $declined;
    border: 2px solid $declined;
}
