<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Target Acquired</title>
        <!-- Stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body ng-app="target-acquired" class="column-horizontal-center">
        <div class="header col-xs-12 row-vertical-center static-vertical">
            <span class="header__title col-xs-3">target-acquired</span>
            <div class="header__actions col-xs-6 row-vertical-center-space-btwn" ng-controller="HeaderController">
                <div class="header__search stretch-horizontal column">
                    <input
                        class="header__search-bar"
                        placeholder="Find a target"
                        ng-focus="focus()"
                        ng-blur="blur()"
                        ng-model="query"
                        ng-change="search(query)"
                        ng-keypress="go($event)"
                    />
                    <div ng-if="focused" class="header__search-results">
                        <div class="header__search-results-container column width-100">
                            <span
                                ng-repeat="result in results | limitTo: 5 track by $index"
                                class="header__search-result" ng-class="{'header__search-result--selected': $index === 0}">{{result.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <i class="fa fa-fw fa-plus header__actions header__add" ui-sref="single({name: null})"></i>
                <i class="fa fa-fw fa-list header__actions" ui-sref="list"></i>
            </div>
        </div>
        <ui-view class="content col-xs-6 stretch-vertical column"></ui-view>

        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js" charset="utf-8"></script>
        <script src="js/angular.min.js" charset="utf-8"></script>
        <script src="js/angular-ui-router.min.js" charset="utf-8"></script>
        <script src="js/index.js" charset="utf-8"></script>
    </body>

</html>
